<div class="row">
  <div class="row row-grid align-items-left" >
    <div class="col-lg-6">
      <h6 class="mb-0 font-weight-light">Université Sorbonne Paris Nord.</h6>
    </div>
    <div class="col-lg-4">
      <a target="_blank" href="https://github.com/institut-galilee/2022-ml-iot-m2-G2" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on github">
        <i class="fa fa-github" aria-hidden="true"></i>2022-ml-iot-m2-G2
      </a>
    </div>
    </div>
</div>
<hr>
<div class="row">
  <div class="col s1 right-align">
    <img src="./assets/LogoMLIoT.png" class="logo">
  </div>
  <div class="col s11">
    <p>&copy; {{test | date: 'yyyy'}} M2 PLS : Christophe ISHIMWE NGABO -- Andriamisaina MANOA -- Halima RAFIK</p>.
  </div>
</div>
